@import "variables";

/*-----------------------------------*\
#REUSED STYLE
\*-----------------------------------*/
.h2,
.h3 {
    font-family: var(--ff-fa-secondary);
}
/*-----------------------------------*\
#Utilities
\*-----------------------------------*/

// padding
.p1 {
    padding: 1rem;
}
.p2 {
    padding: 2rem;
}
.p3 {
    padding: 3rem;
}
.p4 {
    padding: 4rem;
}
.p5 {
    padding: 5rem;
}

.pt1 {
    padding-top: 1rem;
}
.pt2 {
    padding-top: 2rem;
}
.pt3 {
    padding-top: 3rem;
}
.pt4 {
    padding-top: 4rem;
}
.pt5 {
    padding-top: 5rem;
}

.pb1 {
    padding-bottom: 1rem;
}
.pb2 {
    padding-bottom: 2rem;
}
.pb3 {
    padding-bottom: 3rem;
}
.pb4 {
    padding-bottom: 4rem;
}
.pb5 {
    padding-bottom: 5rem;
}

.ps1 {
    padding-right: 1rem;
}
.ps2 {
    padding-right: 2rem;
}
.ps3 {
    padding-right: 3rem;
}
.ps4 {
    padding-right: 4rem;
}
.ps5 {
    padding-right: 5rem;
}

.pe1 {
    padding-left: 1rem;
}
.pe2 {
    padding-left: 2rem;
}
.pe3 {
    padding-left: 3rem;
}
.pe4 {
    padding-left: 4rem;
}
.pe5 {
    padding-left: 5rem;
}

// margins
.m1 {
    margin: 1rem;
}
.m2 {
    margin: 2rem;
}
.m3 {
    margin: 3rem;
}
.m4 {
    margin: 4rem;
}
.m5 {
    margin: 5rem;
}

.mt1 {
    margin-top: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.mt3 {
    margin-top: 3rem;
}
.mt4 {
    margin-top: 4rem;
}
.mt5 {
    margin-top: 5rem;
}

.mb1 {
    margin-bottom: 1rem;
}
.mb2 {
    margin-bottom: 2rem;
}
.mb3 {
    margin-bottom: 3rem;
}
.mb4 {
    margin-bottom: 4rem;
}
.mb5 {
    margin-bottom: 5rem;
}

.ms1 {
    margin-right: 1rem;
}
.ms2 {
    margin-right: 2rem;
}
.ms3 {
    margin-right: 3rem;
}
.ms4 {
    margin-right: 4rem;
}
.ms5 {
    margin-right: 5rem;
}

.me1 {
    margin-left: 1rem;
}
.me2 {
    margin-left: 2rem;
}
.me3 {
    margin-left: 3rem;
}
.me4 {
    margin-left: 4rem;
}
.me5 {
    margin-left: 5rem;
}
.btn {
    background-image: var(--gradient-2);
    background-size: 200%;
    color: var(--white);
    padding: 12px 35px;
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    border-radius: 25px 0;
    transition: var(--transition-2);
}
.section {
    padding-block: var(--section-padding);
    &-title {
        color: var(--st-patricks-blue);
        font-size: var(--fs-3);
        margin-block-end: 6rem;
        max-width: max-content;
        margin-inline: auto;
    }
}

.underline {
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 6px;
    background-image: var(--gradient-2);
    border-radius: 10px;
}

/*------------------------------------------------------*\
#Header
\*------------------------------------------------------*/

.header {
    --color: var(--white);

    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-block: 14px;
    z-index: 4;
    transition: var(--transition-1);

    &.active {
        --color: var(--st-patricks-blue);
        position: fixed;
        background-color: var(--white);
        box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

.logo {
    color: var(--color);
    font-family: var(--ff-source-sans-pro);
    font-size: 3.5rem;
}

.container {
    padding-inline: 16px;
}

.navbar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    max-width: 280px;
    min-height: 100%;
    padding: 20px;
    visibility: hidden;
    z-index: 2;
    transition: 0.25s var(--cubic-out);

    &.active {
        transform: translateX(0px);
        visibility: visible;
        transition: 0.5s var(--transition-1);
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem 3rem;

        .logo {
            color: var(--st-patricks-blue);
            font-size: 4.2rem;
            font-weight: var(--fw-700);
        }
    }

    &-item:not(:last-child) {
        border-bottom: 1px solid var(--platinum);
    }

    &-link {
        color: var(--space-cadet-1);
        font-size: var(--fs-7);
        font-family: var(--ff-iranyekanBold);
        font-weight: var(--fw-500);
        letter-spacing: 0.5px;
        padding-block: 12px;
    }

    &-link:hover {
        color: var(--razzmatazz);
        transition: var(--transition-2);
    }
}
.nav-open-btn {
    color: var(--color);
    font-size: 32px;
    padding: 4px;
}

.nav-close-btn {
    color: var(--space-cadet-1);
    font-size: 2.8rem;
    padding: 4px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black_70);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-2);
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

/*------------------------------------------------------*\
#Hero Section
\*------------------------------------------------------*/

.hero {
    background-image: url("../images/hero-bg-bottom.png"), url("../images/hero-bg.png"), var(--gradient-1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
        -212px bottom,
        center,
        center;
    background-size: auto, cover, auto;
    padding-block-start: 120px;
    padding-block-end: var(--section-padding);

    &-content {
        margin-block-end: 5rem;
        .btn {
            text-align: center;
            font-size: 2.1rem;
        }
    }
    &-subtitle {
        color: var(--chrome-yellow);
        font-family: var(--ff-fa-secondary);
        font-size: var(--fs-7);
        margin-block-end: 1.5rem;
    }
    &-title {
        color: var(--white);
        font-size: var(--fs-4);
        margin-block-end: 2rem;
    }
    &-text {
        color: var(--white);
        font-size: var(--fs-7);
        margin-block-end: 30px;
        letter-spacing: 1px;
    }
}
.btn:is(:hover, :focus) {
    background-position: right;
}

.w-100 {
    width: 100%;
}

.banner-animation {
    animation: waveAnim 2s linear infinite alternate;
}
@keyframes waveAnim {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    100% {
        transform: translate(1rem, 1rem) rotate(2deg);
    }
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
.about {
    &-banner {
        margin-block-end: 30px;
    }
    .section-title {
        margin-inline: auto;
    }
    &-text {
        font-size: var(--fs-7);
        margin-block-end: 2rem;
    }
}

.stats-list {
    display: grid;
    gap: 30px;
}

.stats-card {
    text-align: center;
    padding: 15px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-12);
}

.stats-title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
}

.stats-text {
    font-size: var(--fs-7);
}

:is(.service-card, .features-card) .title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
}

:is(.service-card, .features-card, .blog-card) .text {
    font-size: var(--fs-8);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/
.service {
    &-list {
        display: grid;
        gap: 30px;
    }
    &-card {
        padding: 30px;
        box-shadow: var(--shadow);
        border-radius: var(--radius-12);

        .title {
            text-align: center;
            margin-block-end: 15px;
            font-family: var(--ff-iranyekanRegular);
            font-size: 2.5rem;
        }

        .text {
            text-align: center;
            margin-block-end: 20px;
            font-size: var(--fs-7);
        }

        .card-icon {
            background-image: url("../images/service-banner-pattern.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-color: hsla(335, 87%, 53%, 0.12);
            aspect-ratio: 1 / 1;
            max-width: 165px;
            display: grid;
            place-content: center;
            margin-inline: auto;
            transition: var(--transition-1);

            ion-icon {
                font-size: 5rem;
                color: var(--winter-sky);
                --ionicon-stroke-width: 20px;
                transition: var(--transition-1);
            }
        }
        .card-btn {
            margin-inline: auto;
            padding: 15px;
            border: 1px solid var(--winter-sky);
            border-radius: 50%;
            color: var(--winter-sky);
            transition: var(--transition-1);
        }
    }
}

// hover ------------------------------------
.service-card:hover .card-icon {
    background-color: var(--winter-sky);
}

.service-card:hover .card-icon ion-icon {
    color: var(--white);
}

.service-card .card-btn:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--winter-sky);
}

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

.features-list > li:first-child {
    margin-block-end: 30px;
}

.features {
    &-card {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .title {
            margin-block-end: 10px;
            font-family: var(--ff-iranyekanRegular);
            font-size: var(--fs-6);
        }
        .text {
            font-size: var(--fs-7);
        }

        .icon {
            background-image: var(--gradient-1);
            background-size: 200%;
            color: var(--white);
            min-width: max-content;
            max-width: max-content;
            font-size: 36px;
            padding: 22px;
            border-radius: 50%;

            ion-icon {
                --ionicon-stroke-width: 20px;
            }
        }
    }
    &-banner {
        margin-block: 4rem;
    }
    &-banner > img {
        max-width: max-content;
        margin-inline: auto;
    }
}

/*-----------------------------------*\
  #Portfolio
\*-----------------------------------*/
.portfolio {
    padding-block-end: 120px;
    background: var(--gradient-9);
    h2 {
        font-size: var(--fs-2);
    }
    &-list {
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr;
        &-card {
            width: 100%;
            height: 100%;
        }
    }
    &-box {
        position: relative;
        border-radius: 1rem;
        box-shadow: 0 0 1rem var(--purple-navy);
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
            transition: 1s ease;
        }
    }
}

.portfolio-box img:hover {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(240, 15, 15, 0.1), var(--st-patricks-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0, 0.4rem;
    transform: translateY(100%);
    transition: 0.75s ease;
}
.portfolio-box .portfolio-layer h4 {
    font-size: var(--fs-6);
    color: var(--chrome-yellow); //--razzmatazz
    font-family: var(--ff-iranyekanBold);
}
.portfolio-box .portfolio-layer p {
    color: var(--white);
    font-size: var(--fs-7);
    padding: 0.2rem 1rem 0.2rem 1rem;
    text-align: right;
    margin:
        0.3rem 0,
        1rem;
}
.portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    background: var(--gradient-2);
    color: var(--white);
    border-radius: 50%;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
    padding-block-end: 10px;
    &-list {
        display: grid;
        gap: 30px;
    }
    &-card {
        padding: 20px;
        box-shadow: var(--shadow);
        border-radius: var(--radius-12);

        .banner {
            border-radius: var(--radius-12);
            overflow: hidden;
            margin-block-end: 15px;

            img {
                transition: var(--transition-2);
            }
        }
        .title {
            color: var(--st-patricks-blue);
            font-family: var(--ff-fa-secondary);
            font-size: var(--fs-7);
            line-height: 1.5;
            margin-block-end: 15px;

            a {
                color: inherit;
            }
        }
        .text {
            margin-block-end: 15px;
            font-size: var(--fs-7);
        }
        .meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            font-size: var(--fs-8);
            color: var(--purple-navy);
            font-weight: var(--fw-00);
            padding-block-end: 10px;

            ion-icon {
                color: var(--winter-sky);
                font-size: 22px;
                --ionicon-stroke-width: 25px;
            }
        }
    }
}

// hover---------------------------------------------------------------
.blog-card .banner a:is(:hover, :focus) img {
    transform: scale(1.1);
}

.blog-card .title > a:is(:hover, :focus) {
    color: var(--razzmatazz);
}

.publish-date,
.comment {
    display: flex;
    align-items: center;
    gap: 9px;
}

.comment {
    color: inherit;
    margin-inline-start: auto;
}

/*-----------------------------------*\
  #WebTools
\*-----------------------------------*/

// Tooltip
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    font-family:
        Tahoma,
        sans-serif BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 5%;
    background-color: var(--purple-navy);
    padding: 5px 2px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.top {
    top: -50px;
    left: 0%;
}

.hover-text {
    position: relative;
    display: -webkit-box;
    margin: 40px;
    text-align: center;
    font-family: var(--ff-poppins);
}
/**arrows**/
.tooltip-text::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.top::after {
    top: 100%;
    left: 60%;
}

.webBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    &-item {
        margin-inline: auto;
        padding: 0 1.2rem;
        width: 100%;
    }
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    font-size: var(--fs-8);
    a {
        color: inherit;
    }
    &-top {
        background-image: url("../images/footer-bg.png"), var(--gradient-1);
        background-repeat: no-repeat;
        background-size: auto, 200%;
        background-position: center, center;
        color: var(--white);
    }
    &-brand {
        margin-block-end: 30px;

        .logo {
            font-weight: var(--fw-600);
            margin-block-end: 15px;
        }
        .text {
            font-size: var(--fs-7);
            font-weight: var(--fw-00);
            margin-block-end: 20px;
        }
    }
    &-link {
        padding-block: 5px;
        font-size: var(--fs-7);
    }
    &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-block: 10px;

        &-icon {
            background-image: var(--gradient-2);
            padding: 13px;
            border-radius: 50%;
            font-size: 2.2rem;
        }
        a {
            font-size: 1.8rem;
            font-weight: var(--fw-00);
            font-family: var(--ff-iranyekanRegular);
        }
        address {
            font-size: var(--fs-7);
            font-weight: var(--fw-500);
        }
    }

    &-bottom {
        background-color: var(--space-cadet-2);
        padding: 20px;
        text-align: center;
        color: var(--white);
    }
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .social-link {
        background-color: var(--white);
        color: var(--winter-sky);
        font-size: 2.2rem;
        padding: 8px;
        border-radius: 50%;
    }
}

.footer-top .social-link:is(:hover, :focus) {
    background-image: var(--gradient-2);
    color: var(--white);
}

.footer-list:not(:last-child) {
    margin-block-end: 25px;
}

.footer-list-title {
    font-family: var(--ff-fa-secondary);
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) {
    text-decoration: underline;
}

.copyright-link {
    display: inline-block;
    text-decoration: underline;
}

.copyright-link:is(:hover, :focus) {
    text-decoration: none;
}

/*-----------------------------------*\
  #GO TO TOP
\*-----------------------------------*/

.go-top {
    position: fixed;
    bottom: 0;
    left: 11px;
    background-color: var(--winter-sky);
    color: var(--white);
    font-size: 2rem;
    padding: 12px;
    border-radius: var(--radius-4);
    box-shadow: -3px 3px 15px var(--winter-sky_50);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
}

.go-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 550px;
        margin-inline: auto;
    }

    .section-title {
        --fs-3: 3.5rem;
    }

    /**
       * HEADER
       */

    .header .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-inline-start: auto;
    }

    /**
   * ABOUT
   */

    .stats-list {
        grid-template-columns: repeat(3, 1fr);
        margin-block-start: 5rem;
    }
    .stats-text {
        font-size: var(--fs-8);
    }

    /**
       * BLOG
       */

    .blog-card {
        gap: 20px;
        padding: 30px;
    }

    .webBox {
        &-item {
            padding: 0 2rem;
        }
    }

    /**
   * FOOTER
   */

    .footer-brand,
    .footer-list:not(:last-child) {
        margin-block-end: 0;
    }

    .footer-top .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
    }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 720px;
    }

    /**
   * HERO
   */

    .hero {
        min-height: 600px;
        display: grid;
        place-items: center;
    }

    .hero-content {
        margin-block-end: 0;
    }

    .hero .container {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        align-items: center;
        gap: 30px;
    }

    .hero-content {
        margin-block-end: 10rem;
        .btn {
            text-align: center;
            font-size: 1.7rem;
        }
    }
    .banner-animation {
        width: 100%;
        margin-inline: auto;
    }

    .hero-banner {
        width: 110%;
        align-self: flex-start;
    }
    /**
       * ABOUT
    */
    .about-banner {
        width: 50rem;
        height: inherit;
        margin-inline: auto;
    }
    /**
       * SERVICE
    */

    .service-list {
        grid-template-columns: 1fr 1fr;
    }
    /**
        * PORTFOLIO
    */
    .portfolio-list {
        grid-template-columns: 1fr 1fr;
    }
    /**
       * FEATURES
       */

    .features-list > li:first-child {
        margin-block-end: 0;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    /**
    *   BLOG
    */
    .blog-card {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
    }

    /**
    *   Webtools
    */
    .webBox {
        grid-template-columns: repeat(6, 1fr);
        &-item {
            padding: 0 1.2rem;
        }
    }

    /**
       * FOOTER
       */

    .footer-top .container {
        grid-template-columns: 2fr 2fr;
    }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {
        /**
     * typography
     */
        --fs-1: 5.4rem;
    }

    /**
   * REUSED STYLE
   */

    .container {
        max-width: 950px;
    }

    /**
   * HEADER
   */
    .header {
        padding-block: 20px;
    }
    .container {
        flex-direction: row-reverse;
    }
    .overlay,
    .nav-open-btn,
    .navbar-top {
        display: none;
    }

    .navbar {
        all: unset;
    }

    .header .btn {
        margin-inline-start: 0;
    }

    .navbar-list {
        display: flex;
        gap: 25px;
    }

    .navbar-item:not(:last-child) {
        border-bottom: none;
    }

    .navbar-link {
        color: var(--color);
        font-size: var(--fs-8);
    }
    .navbar-link::after {
        content: "";
        position: absolute;
        background: deepskyblue;
        width: 0;
        height: 2px;
        right: 0;
        transition: 0.4s ease;
        bottom: -6px;
    }

    /**
       * HERO
       */

    .hero {
        min-height: 675px;
        background-image: url("../images/hero-bg-bottom.png"), url("../images/hero-bg.png"), var(--gradient-1);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position:
            -252px bottom,
            center,
            center;
        background-size: auto, cover, auto;
        padding-block-start: 100px;
        padding-block-end: var(--section-padding);
    }

    .hero-content .btn {
        margin-block-end: 10rem;
        display: inline-block;
    }

    /**
       * ABOUT
       */

    .about .container {
        display: grid;
        grid-template-columns: 0.85fr 1fr;
        gap: 30px;
    }
    .about-banner {
        width: 100%;
    }
    /**
       * SERVICE
       */

    .service-list {
        grid-template-columns: repeat(3, 1fr);
    }
    /**
    * FEATURES
    */

    .features-list {
        grid-template-columns: 1fr;
    }

    .features .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .features .section-title {
        grid-column: 1 / 4;
    }

    .features-banner {
        margin-block: 0;
        display: grid;
        place-items: center;
    }
    /**
       * PORTFOLIO
     */
    .portfolio-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    /**
    *   BLOG
    */
    .blog-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /**
    *   Webtools
    */
    .webBox {
        grid-template-columns: repeat(6, 1fr);
        &-item {
            padding: 0 1.8rem;
        }
    }

    /**
       * FOOTER
       */

    .footer-top .container {
        grid-template-columns: 1fr 1fr 1fr 1.25fr;
    }

    //   .footer-brand { grid-column: 1 / 5; }

    //   .footer-brand .text { max-width: 45ch; }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 1200px;
    }
    :root {
        /**
     * typography
     */
        --fs-1: 5.6rem;
        --fs-2: 5rem;
        --fs-3: 4.6rem;
        --fs-4: 4rem;
    }
    .section-title {
        --fs-3: 4.6rem;
    }

    /**
       * HERO
       */

    .hero {
        min-height: 775px;
        background-image: url("../images/hero-bg-bottom.png"), url("../images/hero-bg.png"), var(--gradient-1);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position:
            -7px bottom,
            center,
            center;
    }

    /**
       * BLOG
       */

    // .blog-list {
    // grid-template-columns: 1fr 1fr;
    // }

    // .blog-card {
    //     height: 100%;
    // }

    .blog-card .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /**
    *   Webtools
    */
    .webBox {
        grid-template-columns: repeat(6, 1fr);
        &-item {
            padding: 0 2.1rem;
        }
    }

    /**
       * FOOTER
       */
}
